body{
    margin: 0;

    font-family: 'Poppins', sans-serif;;
    

}
.banner img{
    width: 100%;
    height: 50vh;
   margin: 0;
    
}
.banner-text{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 10px black;
}
.half-width{
    width: 50%;
    padding-left:5%;
    margin-top: 5%;
    
    
}
.half-width img{
  width: 80%;
}
.order{
    text-decoration: none;
     background-image: linear-gradient(to right, orange, tomato);
     padding: 10px 20px;
     font-weight: 800;
     border-radius: 20px;
     color: white;
}
.flexible-container{
    display: flex;
     
    margin-bottom: 100px;
}
.button-color{
    color: orange;
    font-size: 30px;
}
h1{
    font: weight 20px;
    
    
}
.text{
    font-size: 30px;
    font: weight 800px;
}
.about-us{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: top left;
}
#img{
    width: 60%;
    height: 80vh;
    left: 5%;
}
.recipies-iteam{
    box-shadow: 10px 10px 30px gray;
     width: 20%;
     height: 70vh;
     margin-left: 2%;
     margin-right: 2%;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
     border-radius: 15px;
}
#image-size{
    width: 100%;
    height: 30vh;
    top: 0;
}
.recipies-text{
    text-align: center;
}
.footer {
    background-color:rgba(10, 10, 10, 0.897) ;
    width: auto;
    height: 150px;
    text-align: center;
 padding-top: 10px;
 color: rgb(126, 119, 119);
    
}